<div class="experience-card-favorite-button activated">
    <%= link_to favorite_path(Favorite.where(experience_id: experience.id, user_id: current_user.id).first, github_username: user.github_username), remote: true, method: :delete do %>
      <i class="fas fa-heart"></i>
    <% end %>
</div>
