<% if experience.comments.empty? %>
  <p class="text-center medium-p w-100" style="font-size:14px">
    No comments yet.
  </p>
<% else %>
  <% experience.comments.each do |comment| %>
    <%= render './comments/comment-card', comment: comment, experience: experience %>
  <% end %>
<% end %>
