.experience-photo-container {
  min-height: 50vh;
  // background: no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}

.experience-container {
  position: relative;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: -20px;
  padding: 20px;
}

.favorite-button {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 2px 3px 15px 0px rgba(156, 156, 156, 0.75);
  top: -18px;
  right: 8vw;
  background-color: white;
   *:focus, *:hover {
    outline: none;
  }
}

.favorite-button.deactivated button {
  color: #e4baba;
  border: none;
  background-color: white;
}
.favorite-button.activated a {
  color: #f16d6d;
}

.small-dark-title {
  font-weight: 600;
  color: #0e646b;
}

.vote-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 62px;
  right: 21vw;
  color: #d1d1d1;
  .vote-text {
    color: gray;
  }
  button {
    border: none;
    background-color: white;
    color: #d1d1d1;
  }
  a {
    color: #d1d1d1;
  }
}

.upvote-button.activated {
  color: #00eaa1;
}

.downvote-button.activated {
  color: #f16d6d;
}

.done-button {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 2px 3px 15px 0px rgba(156, 156, 156, 0.75);
  top: -18px;
  right: 22vw;
  background-color: white;
  *:focus, *:hover {
    outline: none;
  }
}

.done-button.deactivated button {
  color: #c7c7c7;
  border: none;
  background-color: white;
}
.done-button.activated a {
  color: #00eaa1;
}

.blue-color {
  color: #0F656B;
}

.experience-name {
  font-size: 20px;
  font-weight: bold;
  color: #0F656B;
  width: 70%;
}

.experience-location {
  font-size: 13px;
  color: #c5c5c5;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.experience-category {
  color: #c5c5c5;
  font-weight: bold;
  padding-top: 10px;
}

.experience-details {
  color: #0F656B;
  font-size: 14px;
}

.experience-info {
  display: flex;
  flex-wrap: wrap;
}

.people-been-there {
  display: flex;
  flex-wrap: wrap;
}

.person-info {
  font-size: 12px;
  color: #c5c5c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100px;
  padding: 5px;
  img {
    margin: auto;
  }
}


.person_avatar {
  height: 50px;
  width: 50px;
  border: 3px solid;
  border-radius: 50%;
  border-color: #81adb0;
}
.person-info .owner {
  border-color: #00c4a4;;
}

.experience-price-range {
  color: #858585
}

