.experience-photo-container {
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding-top: 45vh;
  background-repeat: no-repeat;
  margin-top: -186px;
}

.back-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 30px;
  a {
  color: white;
  mix-blend-mode: difference;
  }
}

.experience-main-container {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.experience-info-container {

  max-width: 500px;
  margin: auto;
}

.favorite-button {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 2px 3px 15px 0px #7575755e;
  bottom: -50px;
  right: 22%;
  background-color: white;
   *:focus, *:hover {
    outline: none;
  }
}

.favorite-button.deactivated button {
  color: #e4baba;
  border: none;
  background-color: white;
  transition: 0.1s ease-out;
  width: 30px;
}

.favorite-button.deactivated button:hover {
  color: #e4baba;
  border: none;
  background-color: white;
  font-size: 18px;
}

.favorite-button.activated a {
  color: #f16d6d;
  transition: 0.1s ease-out;
}

.favorite-button.activated a:hover {
  color: #f16d6d;
  font-size: 18px;
}

.done-button {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 2px 3px 15px 0px #7575755e;
  bottom: -50px;
  right: 2%;
  background-color: white;
  *:focus, *:hover {
    outline: none;
  }
}

.done-button.deactivated button {
  color: #c7c7c7;
  border: none;
  background-color: white;
  transition: 0.1s ease-out;
  width: 30px;
}

.done-button.deactivated button:hover {
  color: #c7c7c7;
  border: none;
  background-color: white;
  font-size: 18px;
}

.done-button.activated a {
  color: #00eaa1;
  transition: 0.1s ease-out;
}

.done-button.activated a:hover {
  color: #00eaa1;
  font-size: 18px;
}

.done-hint {
  position: absolute;
  color: #c1c1c1;
  font-size: 10px;
  top: 55px;
  text-align: center;
  font-weight: 600;
}

.favorite-hint {
  position: absolute;
  color: #c1c1c1;
  font-size: 10px;
  top: 55px;
  text-align: center;
  font-weight: 600;
}

.small-grey-title {
  font-weight: 600;
  color: #8a8a8a;
}

.vote-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 26%;
  right: 5%;
  color: #d1d1d1;
  .vote-text {
    color: #77a5aa;
  }
  .vote-text.activated {
    color: #0ee19f;
    font-weight: bold;
  }
  .vote-text.deactivated {
    color: #f16d6d;
    font-weight: bold;
  }
  button {
    border: none;
    background-color: #f0f6f600;
    color: #d2d2d2;
  }
  .upvote-button:hover {
    color: #00EAA1;
    transition: 0.8s ease-out;
  }
  .downvote-button:hover {
    color: #F16D6D;
    transition: 0.8s ease-out;
  }
  a {
    color: #d2d2d2;
  }
}

.upvote-button.activated {
  color: #00eaa1;
}

.downvote-button.activated {
  color: #f16d6d;
}


.blue-color {
  color: #0F656B;
}

.experience-name {
  font-size: 18px;
  font-weight: bold;
  color: #72b3ae;
  width: 83%;
  padding-top: 16px;
}

.experience-location {
  font-size: 13px;
  color: #a5a5a5;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.experience-category {
  color: #C5C5C5;
  font-weight: bold;
  padding-top: 10px;
}

.experience-details {
  color: #9c9c9c;
  font-size: 14px;
  &.comment-card {

  }
}

.experience-info {
  display: flex;
  flex-wrap: wrap;
}

.people-been-there {
  display: flex;
  flex-wrap: wrap;
}

.person-info {
  font-size: 12px;
  color: #c5c5c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100px;
  padding: 5px;
  img {
    margin: auto;
  }
}

.person-avatar {
  height: 50px;
  width: 50px;
  border: 4px solid;
  border-radius: 50%;
  border-color: #81adb0;
  &.comment-card {
    height: 35px;
    width: 35px;
    margin-left: 6px;
    margin-top: 5px;
  }
}

.person-info .owner {
  border-color: #00c4a4;;
}

.experience-price-range {
  color: #6b6b6b;
}

.photo-not-found-text {
  color: #d0d0d0;
  font-size: 30px;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  top: 18%;
}
