// Specific CSS for your home-page

// Add a background image only on home page (see application.html.erb for body line)
// see background_color.scss and BackgroundColors Helper

.home-content {
  margin-top: 10vh;
}

.main-white-title {
  font-weight: bold;
  color: white;
  font-size: 32px;
  display: flex;
  flex-wrap: wrap;
}

.second-white-title {
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.white-paragraphe-upcased {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}

.search-bar-home {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  input:focus {
    outline: none;
  }
}

input.search-bar-home {
  color: white; // Color of the user input
  width: 80%;
}

input.search-bar-home::-webkit-input-placeholder {
  color: #ffffff8a; // Color of the placeholder input
}



.home-search-form {
  text-align: center;
  max-width: 380px;
  margin: auto;
  input:focus {
    outline: none;
  }
}

select#category {
  border-color: #5bada9;
  border-radius: 23px;
  padding-left: 19px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  color: #5bada9;
  background-color: #5bada924;
}

.select-items {
  font-size: 30px;
    color: blue !important;
}

@media only screen and (min-width: 600px) {
  .main-white-title {
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .second-white-title {
    text-align: center;
  }
}

