<div class="experience-card-done-button deactivated">
  <%= simple_form_for [experience, Done.new], remote: true, html: { id: (1..10000).to_a.sample}  do |f| %>
    <%= button_tag type: 'submit', name: 'redirect_to', value: 'index', id: (1..10000).to_a.sample do %>
      <i class="fas fa-check"></i>
    <% end %>
    <%#= f.button :button, 'Done', type: 'submit', name: 'redirect_to', value: 'show' %>
  <% end %>
</div>
