<div class="experience-card-done-button activated">
  <%= link_to done_path(Done.where(experience_id: experience.id, user_id: current_user.id).first, github_username: user.github_username), method: :delete, remote: true do %>
      <i class="fas fa-check"></i>
  <% end %>
</div>
