<div class="done-button <%= current_user.has_done?(experience).nil? ? 'deactivated' : 'activated' %>">
  <% if current_user.has_done?(experience) %>
    <%= link_to done_path(Done.where(experience_id: experience.id, user_id: current_user.id).first), remote: true, method: :delete do %>
        <i class="fas fa-check"></i>
    <% end %>
  <% else %>
    <%= simple_form_for [experience, Done.new], remote: true do |f| %>
      <%= button_tag type: 'submit', data: {toggle: "modal", target: "#newComment"} do %>
        <i class="fas fa-check"></i>
    <% end %>
      <%#= f.button :button, 'Done', type: 'submit' %>
    <% end %>
  <% end %>
  <p class="done-hint">
    Been there?
  </p>
</div>

