<% if @experiences.count == 0 %>
  <p class="mt-5 text-center medium-p" style="font-size:14px">
    Uh oh, no experiences yet. <%= link_to "Try to add one!", new_experience_path, style:"color: #828477; text-decoration: underline" %>
  </p>
<% end %>

<% @experiences.each do |experience| %>
  <%= render 'experiences/experience-card', experience: experience %>
  <%#= link_to 'show', experience_path(experience.id) %>
<% end %>
