<div class="login">
  <div class="login-content">
    <h1 class="main-white-title my-2 py-5 justify-content-center">
      Let's check if you're a <br>Le Wagon alumni first
    </h1>
    <%= render "devise/shared/links" %>
  </div>
</div>
