<div class="login">
  <div class="login-content">
    <h1 class="main-white-title my-2 py-5 justify-content-center">
      Are you a Le Wagon alumni?
    </h1>
    <%= render "devise/shared/links" %>
  </div>
</div>
