<div class="login">
  <div class="login-content">
    <h1 class="main-white-title my-2 py-5">
      Let's check if you're a <br>Le Wagon alumni first <i class="fas fa-arrow-alt-circle-down"></i>
    </h1>
    <%= render "devise/shared/links" %>
  </div>
</div>
