.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-info {
  color: #ffffff;
  background-color: #5fcec2d9;
  border-color: #daff9500;
}

.alert-warning {
  color: #ffffff;
  background-color: #ff5b5b87;
  border-color: #fb5365;
}
