.home-page-background-color{
  background: no-repeat center center fixed;
  background-image: linear-gradient(rgba(125, 125, 125, 0.4), rgba(0, 0, 0, 0.4)), url(home-banner2.jpg);
  background-size: cover;
  background-position: center;
}

.new-experience-background-color {
  background: no-repeat center center fixed;
  background-image: url(background-test.png);
  background-size: cover;
  background-position: center;
}

.login-background-color {
  background: no-repeat center center fixed;
  background-image: linear-gradient(rgba(125, 125, 125, 0.38), rgba(0, 0, 0, 0.06)), url(new-experience.jpeg);
  background-size: cover;
  background-position: center;
}
