.white-transparent-button {
  margin: auto;
  border-color: white;
  border-radius: 23px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  color: white;
  background-color: #ffffff26;
  max-width: 350px;
  transition: 0.5s ease-out;
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    transform: scale(0.95);
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.grey-transparent-button {
  margin: auto;
  border-color: #b6b6b6;
  border-radius: 23px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  color: #b6b6b6;
  background-color: #ffffff26;
  max-width: 350px;
  a {
    color: #b6b6b6;
    text-decoration: none;
  }
}

.teal-transparent-button {
  margin: auto;
  border-color: $teal;
  border-radius: 23px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  color: $teal;
  background-color: #ffffff26;
  max-width: 350px;
  transition: 0.7s ease-out;
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    transform: scale(0.95);
  }
  a {
    color: $teal;
    text-decoration: none;
  }
}

.white-color {
  color: white;
}

.blue-color {
  color: #2d8f86;
}

.github-button {
  background-color: white;
  padding: 12px;
  color: #829992;
  border-radius: 26px;
  height: 57px;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s ease-out;
  &:active {
    font-size: 14px;
  }
  span {
    font-size: 20px;
  }
  &:hover {
    font-size: 14px;
    text-decoration: none;
    color: #829992;
  }

}
