.experience-cards-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.8s ease-out;
}

.experience-card {
  transition: 0.2s ease-out;
  display: flex;
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  margin: 10px;
  height: 150px;
  justify-content: center;
  align-items: center;
  max-width: 460px;
  min-width: 390px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
  button {
    padding: 0;
  }
  &.comment-card {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    width: auto;
    width:80vw;
    width:80vw;
    max-width:100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}

.comment-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  text-transform: uppercase;
  color: #c6c6c6;
  padding-top: 6px;
  a {
    color: #c6c6c6
  }
  a:hover {
    text-decoration: underline !important;
  }
}

.experience-card-photo {
  margin-right: 15px;
  position: absolute;
  left: 0;
  top: 0;
  img.index-photo {
    width: 130px;
    height: 150px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
  }
  &.comment-card {
    margin-right: 15px;
    position: absolute;
    left: -19px;
    top: -25px;
  }
}

.experience-card-name {
  font-size: 13px;
  font-weight: bold;
  color: #6b6b6b;
  margin-right: 18px;
  transition: 0.5s ease-out;
  &:active {
    transform: scale(0.9);
  }
  &:hover {
    transform: scale(0.9);
  }
}

.experience-card-location {
  font-size: 10px;
  color: #c5c5c5;
  font-weight: bold;
  letter-spacing: 1px;
}

.experience-card-category {
  font-size: 12px;
  color: #c5c5c5;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.experience-card-details {
  color: #0F656B;
  font-size: 14px;
}

.experience-card-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  left: 175px;
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
  }
}

.experience-card-buttons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  bottom: 3px;
}

.experience-card-favorite-button {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 1px 1px 5px 0px rgba(156, 156, 156, 0.44);
  background-color: #ffffff00;
  font-size: 15px;
  margin-left: 10px;
  transition: 0.7s ease-out;
  &:active {
    transform: scale(0.4);
  }
  &:hover {
    transform: scale(0.4);
  }
   *:focus, *:hover {
    outline: none;
    color: #f16d6d;
    transition: 0.8s ease-out;
  }
}

.experience-card-favorite-button.deactivated button {
  color: #e4baba;
  border: none;
  background-color: #ffffff00;
}
.experience-card-favorite-button.activated a {
  color: #f16d6d;
}

.experience-card-small-dark-title {
  font-weight: 600;
  color: #0e646b;
}

.experience-card-vote-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d1d1d1;
  position: absolute;
  left: 145px;
  .vote-text {
    color: #919191;
  }
  .vote-text.activated {
    color: #0ee19f;
  }
  .vote-text.deactivated {
    color: #f16d6d;
  }
  button {
    border: none;
    background-color: #ffffff00;
    color: #919191;
  }
  .upvote-button:hover, .upvote-button:active {
    color: #00EAA1;
    transition: 0.8s ease-out;
  }
  .downvote-button:hover, .downvote-button:active {
    color: #F16D6D;
    transition: 0.8s ease-out;
  }
  a {
    color: #919191;
  }
}

.experience-card-upvote-button.activated {
  color: #0ee19f;
}

.experience-card-downvote-button.activated {
  color: #f16d6d;
}

.experience-card-done-button {
  height: 30px;
  width: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 1px 1px 5px 0px rgba(156, 156, 156, 0.44);
  background-color: #ffffff;
  transition: 0.5s ease-out;
  &:active {
    transform: scale(0.4);
  }
  &:hover {
    transform: scale(0.4);
  }
  *:focus, *:hover {
    outline: none;
    transition: 0.8s ease-out;
    color: #00eaa1;
  }
}

.experience-card-done-button.deactivated button {
  color: #c7c7c7;
  border: none;
  background-color: #ffffff00;
}
.experience-card-done-button.activated a {
  color: #00eaa1;
}

.button-description {
  display: flex;
  justify-content: center;
  justify-content: center;
  font-size: 8px;
  text-transform: uppercase;
  color: #c6c6c6;
  padding-top: 3px;
  &.save {
    margin-left: 10px;
    text-align: center;
  }
}

@media only screen and (min-width: 765px) {
  .experience-cards-container {
    width: 480px;
    padding: 10px;
    display: block;
  }
   #index-map {
      display: flex;
      min-height: 100vh;
      position: sticky;
      top: 0
   }
    #dashboard-map {
      display: flex;
      min-height: 100vh;
      position: sticky;
      top: 0
   }
   .cards-and-map-container {
    display: flex;
   }
}

@media only screen and (max-width: 320px) {
  .experience-card-buttons {
    bottom: 3px;
  }
  .experience-card-name {
    font-size: 11px;
  }
  .experience-card-category {
    font-size: 9px;
  }
 .experience-card-photo img.index-photo {
    width: 110px;
  }
  .experience-card-info {
    left: 150px;
  }
  .experience-card-vote-buttons {
    left: 124px;
  }
  .experience-card-done-button {
    height: 20px;
    width: 20px;
  }
  .experience-card-favorite-button {
    height: 20px;
    width: 20px;
  }
  .button-description {
    padding-top: 1px;
  }
}

@media only screen and (max-width: 400px) {
  .experience-card {
    min-width: 95vw;
 }
   .experience-card.comment-card {
    min-width: 88vw;
 }
}

.highlight {
  transform: scale(1.05);
}

