.form-container {
  padding: 2vh 10vw;
}

.minimal-form {
  max-width: 500px;
  margin: auto;
  *:focus, *:hover {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    border-color: #00a497;
  }
  input:focus, input, select:focus, select, textarea:focus, textarea {
    color: #007a6f;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #c6dfdc;
  }

  input[type=submit] {
    background-color: #d3e7e7;
    border: none;
  }
}

.minimal-form input, .minimal-form select, .minimal-form textarea {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #179b8f4d;
}

.minimal-form label, .minimal-form legend {
  font-size: 12px;
  font-weight: 400;
  color: #8eb6b5;
}

.form-control.is-valid {
  border-color: #179b8f4d;
}

.form-check-input.is-valid ~ .form-check-label {
  color: #047b71;
}

.form-control.is-valid:hover,  {
  border-color: #00a497;
}

.form-control.is-valid:focus {
  border-color: none;
  box-shadow: none;
}

// .file-name {
//   display: flex;
//   justify-content: center;
//   color: #8fb8b7;
//   font-size: 13px;
// }

.photo-input {
  display: flex;
  justify-content: center
}

#DefaultImagePreview {
  width:150px;
  height:150px;
  border-radius:50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  display: none;
}
