// DARK

.navbar-dark {
  .nav-items {
    a {

      color: #007a6f;
    }
  }
}


// LIGHT

.navbar-light {
  .nav-items {
    a {
      color: white;
    }
  }
}


// NEUTRAL

.nav-items a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
}

.logo img {
  height: 48px;
  margin-top: 10px;
}

.toggler-icon {
  height: 30px;
}


.navbar-toggler {
  border: none;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item {
  text-align: right;
  padding-right: 8vw;
}
