.logo img{
  height: 88px;
}

.toggler-icon {
  height: 30px;
}

.nav-items {
  a {
    color: white;
  }
}

.navbar-toggler {
  border: none;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item {
  text-align: right;
  padding-right: 13px;
}
