// DARK

.navbar-dark {
  .nav-items {
    a {
      color: $dark-green;
    }
  }
}


// LIGHT

.navbar-light {
  .nav-items {
    a {
      color: white;
    }
  }
}

// NEUTRAL

.navbar-backbutton {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  z-index: 3;
}

.back-navbar-icon-light {
  font-size: 23px;
  a {
    color: white;
  }
  a:active, a:visited, a:hover {
    color: white;
  }
  &.show-page {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2px;
    a {
      color:$teal;
    }
  }
}

.back-navbar-icon-dark {
  font-size: 23px;
  a {
    color: $dark-green
  }
  a:active, a:visited, a:hover {
    color: white;
  }
}

.nav-items a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
}

.logo img {
  height: 48px;
  margin-top: 10px;
}

.toggler-icon {
  height: 30px;
}


.navbar-toggler {
  border: none;
}

.main-navbar {
  justify-content: space-between;
  background: transparent;
}

.main-navbar .navbar-collapse {
  flex-grow: 0;
}

.main-navbar .navbar-brand img {
  width: 40px;
}

.main-navbar .nav-item {
  text-align: right;
  padding-right: 8vw;
}


// Arrow animation for back button
.arrow {
  $size: 15px;
  $width: 2px;

  cursor: pointer;
  display: block;
  width: $size / 1.414;
  height: $size / 1.414 * 2;
  position: relative;

  & span,
  &:before,
  &:after {
    background: #fff;
    content: '';
    display: block;
    width: $size;
    height: $width;
    position: absolute;
    top: calc(50% - (#{$width} / 2));
  }

  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }

  & span {
    width: 0;
  }
  &:hover span {
    width: $size * 1.414;
  }

  @each $direction in 'left' 'right' {
    &.arrow--#{$direction} {
      & span,
      &:before,
      &:after {
        #{$direction}: 0;
        transform-origin: #{$direction} 50%;
      }

      &:before,
      &:after {
        transition: #{$direction} 0.3s 0.05s;
      }

      & span {
        transition: width 0.3s, #{$direction} 0.3s 0.05s;
      }

      &:hover {
        & span,
        &:before,
        &:after {
          #{$direction}: $size / 1.414 * -1;
        }
      }
    }
  }
}


@media only screen and (max-width: 420px) {
  .navbar-light {
    background-color: white;
  }
  .navbar-dark {
    background-color: white;
  }

  .navbar-backbutton {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    z-index: 3;
  }

  .main-navbar {
    justify-content: space-between;
    background: white;
    .nav-item {
      padding-right: 2vw;
    }
    .logo img {
      height: 37px;
      margin-top: 0px;
    }
  }
  .back-navbar-icon-light {
    a, a:visited {
    color: #71b3ae;
    }
     a:active {
      color: blue;
    }
  }
  .back-navbar-icon-dark {
    a, a:visited {
      color: #71b3ae;
    }
    a:active {
      color: blue;
    }
  }

  .navbar-light .nav-items a {
    color: #71b3ae;
  }

  .navbar-ios {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    z-index: 9999;
    padding-left: 25px;
  }

  // Arrow navigation color change when ios navbar
  .arrow {
    & span,
    &:before,
    &:after {
      background: #71b3ae;
    }
  }
  // Responsiveness container adjustements when ios navbar is activated
  .experiences-index-container {
    padding-top: 24vh !important;
  }
  .form-container {
    margin-top: 65px;
  }
  .profile-container {
    margin-top: -130px !important;
  }
  .experience-photo-container {
    margin-top: 0px !important;
  }
  .navbar-toggler {
    padding: 0;
  }
  .banner {
    padding: 6vh 10vw;
    margin-top: 14px;
  }
  .login-content {
    margin-top: 25vh;
  }
}
